@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(130deg, #C9F4FE, #C9F1C6, #FFFEE3, #FED3F1, #C4D5FE, #FFB3C8);
  background-size: 500% 500%;
  animation: background-gradient 60s linear infinite;
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[contenteditable] {
  outline: 0px solid transparent;
}

input {
  outline: 0px solid transparent;
  border: 0px solid transparent;
}

::placeholder {
  color: #00000040;
  opacity: 1;
}

.login:hover {
  background-color: #00000020 !important;
}

@keyframes background-gradient {
  0% { background-position: 0 0; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* hide all scrollbars */
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}